body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf5f4;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   }

.header {
    margin: 0;
    padding: 0;
    flex: 0 0 10vh;
    align-items: flex-end;
}  
.main {
    margin: 0;
    padding: 0;
    flex: 1 1 75vh;
}  
.footer {
    margin: 0;
    padding: 0;
    flex: 0 0 10vh;
}  

.container_header {
    margin: 30px 50px 0 50px;
    padding: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

.header__menu p {
    margin: 0 0 0 15px;
}

.header__burger {
    display: inline-block;
    width: 25px;
    height: 16px;
    padding-left: 4px;
    padding-top: 4px;
}
.burger__line {
    width: 20px;
    height: 2px;
    background-color: #f78e6a;
    display: block;
    margin-bottom: 5px;
    position: relative;
}

.burger__line::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -4px;
    width: 2px;
    height: 2px;
    background-color: #000;
}

.burger__line:last-child {
    margin-bottom: 0;
    width: 14px;
}

.header__logo {
    display: none;
}

.header__contacts {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 0;
    text-align: right;
}

.header__page-description {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.header__page-description::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: -13px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f78e6a;
}
.header__contacts {
    text-decoration: none;
    color: inherit;
}

.header__contacts,
.header__menu,
.header__page-description {
    font-weight: 600;
}

.container_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 50px;
    padding: 0;
    height: 100%;
}
.main__logo {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 1;
    align-self: center;
}

.main__logo img {
    width: 100%;
    height: auto;
    max-height: 100%;
    transition: all .3s ease-in-out;
}
.main__logo img:hover {
    transform: scale(1.2);
    animation: ding  .5s infinite .2s;
}

@keyframes ding {
    0%, 100% {transform: rotate(-10deg);}
    50% {transform: rotate(11deg)}
}

.main__img {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    min-width: 22%;
    margin-right: 50px;
    margin-left: 50px;
    box-sizing: padding-box;
    align-self: center;
    }

.main__img img {
    width: 100%;
    height: auto;
}

.main__content {
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 55%;
    overflow: hidden;
    padding: 20px 0;
}
.main__count {
    flex-basis: 8%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-left: 20px;
    text-align: right;
}

.main__title {
    position: relative;
    padding-left: 5px;
}
.main__btn--link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    margin: 0 0 0 25px;
    padding: 0;
    background-image: linear-gradient(to bottom, #fa6f95, #f78f6e);
}

.main__btn--link::after {
    content: "";
    display: block;
    position: absolute;
    border: 7px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    bottom: 13px;
    right: 11px;
}
.main__title .main__btn--link {
    display: none;
}


.main__title span {
    font-size: 8.1em;
    line-height: 1;
    margin: 0;
    padding: 0 50px 0 0;
    font-weight: 700;
    color: #fa6f95;
    text-align: center;
    position: relative;
    
}
.main__title span::before {
    content: "Центр йоги";
    display: block;
    transform: rotate(-90deg);
    bottom: 4.5em;
    left: -3.1em;
    position: absolute;
    font-size: 0.12em;
    font-weight: 100;
    color: #fa6f95;
}

.main__invitation {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px 0 0 0;
    
}

.main__invitation span {
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5;
    align-self: center;
}

.main__invitation .btn-invitation {
    width: 4.9em;
    height: 4.5em;
    border-radius: 50%;
    margin-right: 1em;
    position: relative;
    background-image: linear-gradient(to bottom, #fa6f95, #f78f6e);
}
.btn {
    margin: 5px;
}
.btn:hover {
    background-image: linear-gradient(to top, #fa6f95, #f78f6e);
    box-shadow: 0 0 5px 0 #7e384b;
}

.btn-invitation::after {
    content: "+";
    display: block;
    position: absolute;
    font-size: 3.5em;
    color: #fff;
    font-weight: 100;
    left: 0.38em;
    top: 0.04em;
}

.main__count {
    align-self: center;
}
.main__count span{
    font-size: 4em;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #fa6f95;
    position: relative;
    text-align: right;
}
.main__count span::before {
    content: "-09";
    display: block;
    position: absolute;
    font-size: 2rem;
    color: #f78f6e;
    font-weight: 100;
    left: 10px;
    top: 95px;
}

.container_footer {
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer__count {
    display: none;
}

.footer__social {
    flex-basis: 150px;
    flex-grow: 1;
}
.footer__social a {
    display: inline;
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0 30px 0 0;
    font-weight: 600;
    transition: all .2s ease;
}

.footer__social a:hover {
    color: #fa6f95;
} 
.footer__social a:active {
    color: #f78f6e;
} 

.footer__link {
   flex-basis: auto;
   flex-grow: 1;
   display: flex;
   flex-direction: row-reverse;
   justify-content: start;
}
.footer__link span {
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
.footer__btn--link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    margin: 0 0 0 25px;
    padding: 0;
    background-image: linear-gradient(to bottom, #fa6f95, #f78f6e);
}

.footer__btn--link::after {
    content: "";
    display: block;
    position: absolute;
    border: 7px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    bottom: 13px;
    right: 11px;
}


@media screen and (max-width: 1050px) {
    .main__title span {
        font-size: 7em;
    }
    body {
        font-size: 16px;
    }
    .main__count span::before {
        font-size: 2rem;
        left: 0.3em;
        top: 2.2em;
    }
}


@media screen and (max-width: 900px) {
    .main__title span {
        font-size: 6em;
    }
    body {
        font-size: 14px;
    }
    .main__count span::before {
        font-size: 1.8rem;
        left: 0;
        top: 1.9em;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        width: 100%;
        overflow: hidden;
    }
    .container_header {
        margin: 30px 30px 0 30px;
    }
    .header__logo {
        display: inline-block;
    }
    .header__logo img:hover {
        transform: scale(1.2);
        animation: ding  .5s infinite .2s;
    }
    .header__page-description {
        display: none;
    }

    .container_main {
        margin: 0 30px;
        flex-direction: row-reverse;
    }
    .main__logo {
        display: none;
    }
    .main__img {
        flex-basis: 35%;
        margin: 0;
    }
    .main__img img {
        transform: scaleX(-1);
        position: relative;
        left: 80px;
    }
    .main__title {
        padding-left: 15px;
    }
    .main__title span {
        font-size: 9em;
    }
    .main__title .main__btn--link {
        display: block;
        position: absolute;
        top: 3.7em;
        left: 6.75em;
    }

    .main__invitation span {
        font-size: 1.2em;
    }
   .btn-invitation {
    transform: scale(0.8);
   }
    .main__count {
        display: none;
    }
    .container_footer {
        margin: 0 30px 0 30px;
        flex-direction: row-reverse;
    }
    .footer__count {
        display: block;
        flex: 1 1 20%;
        text-align: right;
    }
    .footer__count span{
        font-size: 3em;
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: #fa6f95;
        position: relative;
        text-align: right;
        top: -0.6em;

    }
    .footer__count span::before {
        content: "-09";
        display: block;
        position: absolute;
        font-size: 0.5em;
        color: #f78f6e;
        font-weight: 100;
        right: 0;
        bottom: -0.7em;
    }

    .footer__social {
        flex: 1 1 50%;
        text-align: center;
        align-self: center;
    }
    .footer__social a {
        font-weight: 100;
    }
    .footer__link {
        flex: 1 1 20%;
        text-align: left;
        display: block;
    }
    .footer__link span {
        display: none;
    }
    .footer__btn--link {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    body {
        max-width: 375px;
        font-size: 8px;
    }
    .container_header {
        margin: 20px 20px 0 20px;
    }
    .header__menu p,
    .header__page-description,
    .header__contacts,
    .main__logo,
    .main__count {
        display: none;
    }
    .header__logo {
        display: block;
    }
    .container_main {
        flex-direction: column;
    }
    .container_footer {
        flex-direction: row-reverse;
    }
}


